@keyframes fadeIn {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}

@font-face {
	font-family: 'Glyphicons Halflings Firefox';
	src: url('../fonts/glyphicons-halflings-ff.eot');
	src:
		url('../fonts/glyphicons-halflings-ff.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-ff.woff') format('woff'),
		url('../fonts/glyphicons-halflings-ff.ttf') format('truetype'),
		url('../fonts/glyphicons-halflings-ff.svg#glyphicons_halflings_firefoRg') format('svg');
}

.glyphicon {
  font-family: 'Glyphicons Halflings Firefox';
}

.glyphicon-encoding:before{
	content: "\E202";
}

.glyphicon-plugin:before{
	content: "\E201";
}

body {
	font-family: 'FiraSans';
	color:#667380;
}
.full-width{
	overflow: auto;
	width:100%;
}
#main_header{
	background: #292E33;
	color:#fff;
	margin: 1rem;
	padding: 2.571rem 2.25rem 2.25rem;
}
#main_header .glyphicon{
	position: relative;
	top:0.259rem;
	margin-right: 0.508rem;
}
#main_header h1{
	font-family: inherit;
	font-size: 4.43rem;
	margin-top:0;
}
#main_header a{
	color: #EBECED
}
.color-swatches{
	margin-top: 1rem;
}
.color-swatches span{
	width: 3.375rem;
	height:	3.375rem;
	display:inline-block;
	border-radius: 0.583rem;
	margin: 0 0.198rem 0.198rem 0;
}
.data-group{
	color: #667380;
	padding:1rem;
	display: inline-block;
	vertical-align: top;
	min-width: 25.629rem;
	max-width: 25.629rem;
}

.full-width #timeline{
	min-width: 100%;
	max-width: 100%;
}

.data-group button{
	vertical-align: middle;
	padding:0.1rem 0.508rem;
	font-size: 1.313rem;
}
.data-group header{
	padding: 1.5rem 2.25rem;
	margin:0 0 2.25rem;
	background: #667380;
	color: #fff;
}
.data-group header h2{
	margin: 0;
	padding-right: 1.5rem;
	display: inline-block;
	vertical-align: middle;
}
.data-group a,
.data-sections a{
	text-decoration: underline;
	color:inherit
}
.data-sections a:hover{
	color:#18191A
}
.data-group figure{
	float:left;
	width:5.786rem;
}
.data-group figure .glyphicon{
	font-size: 4.43rem;
	color: inherit;
}
.data-group dl{
	margin:0 0 0 6.645rem
}
.data-group dt{
	font-size: 1.313rem;
	font-weight: 500;
	margin: 0 0 0.508rem;
	text-transform: uppercase;
}
.big-value{
	font-size: 2.571rem;
	margin: 0;
	line-height: 100%;
	font-weight: 700;
	color: inherit;
}
.alert-success,
.alert-warning,
.alert-danger{
	background: inherit;
	border: none;
}
.alert-danger{
	color:#F13C00
}
.alert-warning{
	color:#D97E00
}
.alert-success{
	color:#2CBB0F
}
.data-buttons{
	margin-top: 1.5rem;
}
.data-buttons button{
	font-size: 1.313rem;
}
.data-sections{
	overflow: auto;
	margin:1rem;
}
.data-sections h2{
	font-family: inherit;
	font-size:2.571rem;
	font-weight: 400;
	line-height: inherit;
}
.data-sections section{
	display: inline-block;
	vertical-align: top;
}
.data-group-small{
	min-width: 21.269%;
	max-width: 21.269%;
}

.data-group-medium{
	max-width: 36.469%;
}

.data-group.v-b-container,
.data-group.v-b-container,
.data-group.v-b-container{
	float:left;
}

.data-group-medium .data-group-small,
.data-group-large .data-group-small,
.data-group-large .data-group-medium{
	display:inline-block;
	vertical-align: top;
}
.data-group-large{
	max-width: 71.792%;
}
.data-timeline{
	border-radius: 4.43rem;
	overflow:auto;
}
.data-timeline div{
	float:left;
	transition: 120ms all ease-in-out 20ms;
	min-height: 4.43rem;
}

.data-timeline div:hover{
	cursor: help;
	position: relative;
	border-top: 0.508rem solid rgba(255, 255, 255, 0.508);
	border-bottom: 0.508rem solid rgba(255, 255, 255, 0.508);
}

.data-timeline div:hover:after{
	animation: fadeIn 0.5s;
	font-size:1.313rem;
	font-weight: 200;
	position: absolute;
	left: 1%;
	top:20%;
	white-space: nowrap;
	padding:0.143rem 0.508rem;
	color: #fff;
	background: inherit;
	content: attr(title);
	border-radius: 1rem;
}

.data-group .data-hidden{
	display: none;
	padding:1rem 1.5rem 1.5rem;
	margin: 1rem 0;
	font-size:1.143rem;
	color:#667380;
	border: 0.296rem solid #EBECED;
	border-top: 0;
	border-left: 0;
}
.data-hidden a:hover{
	color:#18191A
}
.data-hidden dd:before{
	content:'- ';
}

.visual-box dl{
	margin-left:0;
}
.visual-box dd.big-value{
	margin-top:1rem
}

.visual-box{
	text-shadow: 0 -1px #fff;
	max-width: 92%;
	margin-bottom:1.969rem;
	position: relative;
	background: #F7F7F7;
	min-height: 29.29rem;
	max-height:	29.29rem;
	border-width: 0.75rem;
	border-style: solid;
	border-top-color:#292E33;
	border-right-color:#292E33;
	border-bottom-color:#667380;
	border-left-color:#667380;
}
.v-b-width .data-group{
	position: absolute;
	left:1.5rem;
	top:1.5rem;
	text-align: left;
}

.v-b-height .data-group{
	position: absolute;
	right:1.5rem;
	bottom:1.5rem;
	text-align: right;
}

.visual-box .arrow{
	width: 0;
	height: 0;
	position: absolute;
	background: #fff;
}
.visual-box .arrow-left{
	border-top: 1.5rem solid transparent;
	border-right:1.5rem solid #292E33;
	border-bottom: 1.5rem solid transparent;
	top:-1.8rem;
	left:-1rem;
	padding-left:1rem;

}
.visual-box .arrow-down{
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-top: 1.5rem solid #292E33;
	right:-1.8rem;
	bottom:-1rem;
	padding-top:1rem;
}

@media (min-width: 1301px) and (max-width: 1620px) {
	.data-group-medium{
		max-width: 38%;
	}
}

@media (min-width: 967px) and (max-width: 1300px) {
	.data-group-small{
		max-width: 30%;
	}
	.data-group-medium{
		max-width: 60%;
	}
	.data-group-large{
		max-width: 100%;
	}
}

@media (max-width: 967px) {
	.data-group-small,
	.data-group-medium,
	.data-group-large
	{
		min-width:inherit;
		max-width:inherit;
	}

	.data-sections section{
		min-width: 100%;
	}

}
@media (max-width:400px) {

	a.data-tool-link{
		margin-left: 0;
	}

}