body {
	font-family: 'Open Sans', Sans, sans-serif;
	color: #667380;
}

h1, h2, h3, h4, h5, h6{
	font-family: inherit;
}

a{
	text-decoration: underline;
	color: inherit;
}
a:hover{
	color: #18191A;
}
a:focus{
	color: inherit;
}
a:active{
	color: #8FA1B3;
}

.data-group dl{
	margin: 0.762rem -6px;
}

.data-group .row.color-swatches{
	margin-bottom: 2rem;
}

.color-swatches dd{
	margin-top: 1rem;
}
.color-swatches span{
	width: 3.375rem;
	height:	3.375rem;
	display: inline-block;
	border-radius: 0.583rem;
	margin: 0 0.198rem 0.198rem 0;
}

.data-group{
	margin-bottom: 2rem;
}
.data-group .col-xs-4{
	text-align: right;
	font-weight: bold;
}

/*.data-group .row{
	margin-top: 0.667rem;
	margin-bottom: 0.667rem;
}*/

.data-group dt,
.data-group dd{
	font-weight: inherit;
}
.data-group button{
	vertical-align: middle;
	padding: 0.1rem 0.508rem;
	font-size: 1.313rem;
}
.data-group header{
	padding: 1.313rem 1rem 0;
	margin: 1rem 0 1.313rem;
}
.data-group header h2{
	margin: 0;
	font-size: 1.969rem;
	padding-right: 1.5rem;
	display: inline-block;
	/*line-height: 150%;*/
}

.data-group-icon{
	display: inline-block;
	margin-right: 0.508rem;
}
.data-group-icon img{
	vertical-align: inherit;
}

.alert-success,
.alert-warning,
.alert-danger{
	background: inherit;
	border: none;
}
.alert-danger{
	color: #F13C00
}
.alert-warning{
	color: #D97E00
}
.alert-success{
	color: #2CBB0F
}
.data-buttons{
	text-align: right;
	margin: 2rem 0;
}
.data-buttons button{
	font-size: 1.313rem;
}
.data-sections{
	padding: 1rem 15px; /* Required for Bootstrap */
}
.data-sections h2{
	font-size: 1.969rem;
	font-weight: 400;
}

#timeline-alt{
	margin-bottom: 0;
	background: #fcfcfc;
	padding: 2rem 2.25rem;
	border-bottom: 1px solid #ddd;
}

#timeline-alt .row{
	margin-left: 0;
	margin-right: 0;
}

#timeline-alt h2{
	margin: 0.508rem 0 0;
	font-size: 1.969rem;
	font-weight: 400;
	line-height: inherit;
}

#timeline-alt dl{
	margin: 0.508rem 0;
}

.tl-item dt{
	font-weight: bold;
}

.tl-item dt,
.tl-item dd{
	float: left;
	display: inline;
}

.tl-item-name{
	width: 14%;
	margin-right: 1%;
}

.tl-item-ms{
	min-width: 5%;
}
.tl-item-ms,
.tl-item-percent{
	margin-right: 1%;
	text-align: right;
}
.tl-item-percent{
	min-width: 4%;
}
.tl-item-bar{
	margin: 0.313rem 0;
	width: 74%;
	border: 1px solid #ddd;
	border-radius: 1rem;
	background: #fff;
}

.tl-bar-line{
	border-radius: 1rem;
	height: 1.313rem;
}

#headline{
	padding: 0 2.25rem 1rem;
	border-bottom: 1px solid #ddd;
	background: #F2F4F5;
}

#headline .row{
	margin-top: 0;
}

#headline h1{
	font-size: 2.953rem;
	color: #292E33;
}

.status-ok{
	color: rgba(44, 187, 15, 1);
}

.status-bad{
	color: rgba(241, 60, 0, 1);
}

.status-warn{
	color: rgba(217, 126, 0, 1);
}

/*.data-group .data-hidden{
	display: none;
	padding: 1rem 1.5rem 1.5rem;
	margin: 1rem 0;
	font-size: 1.143rem;
	border: 0.296rem solid #EBECED;
	border-top: 0;
	border-left: 0;
}*/

.data-hidden dd:before{
	content:'- ';
}
.visual-box dl{
	margin: 1rem;
}
.visual-box dd.big-value{
	margin-top: 1rem
}

.visual-box{
	text-shadow: 0 -1px #fff;
	max-width: 96%;
	margin: 1.313rem 2% 2.571rem;
	position: relative;
	background: #F7F7F7;
	min-height: 25.629rem;
	max-height: 25.629rem;
	border-width: 0.75rem;
	border-style: solid;
	border-top-color: #667380;
	border-right-color: #667380;
	border-bottom-color: #A3ABB3;
	border-left-color: #A3ABB3;
}
.visual-box dt{
	font-weight: normal;
	text-transform: none;
	font-size: inherit;
}
.visual-box dd{
	font-weight: bold;
	font-size: 2rem;
}
.v-b-width dl{
	position: absolute;
	left: 1.5rem;
	top: 1.5rem;
	text-align: left;
}
.v-b-height dl{
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
	text-align: right;
}

.v-b-width dl,
.v-b-height dl{
	color: #667380;
}

.visual-box .arrow{
	width: 0;
	height: 0;
	position: absolute;
	background: #fff;
}
.visual-box .arrow-left{
	border-top: 1.5rem solid transparent;
	border-right: 1.5rem solid #667380;
	border-bottom: 1.5rem solid transparent;
	top: -1.8rem;
	left: -1rem;
	padding-left: 1rem;

}
.visual-box .arrow-down{
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-top: 1.5rem solid #667380;
	right: -1.8rem;
	bottom: -1rem;
	padding-top: 1rem;
}

footer{
	padding: 2.25rem 2.25rem 1rem;
	font-size: 1.143rem;
	border-top: 1px solid #ddd;
	background: #F2F4F5;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.visual-box{
		/*max-width: 96%;*/
		min-width: 200px;
		min-height: 250px;
		margin-left: 1%;
		margin-right: 1%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
	.data-buttons{
		text-align: left;
	}

	.tl-item-name{
		width: auto;
		margin-right: 3%;
	}
	.tl-item-ms,
	.tl-item-percent{
		width: auto;
		margin-right: 3%;
		text-align: left;
	}
	.tl-item-bar{
		min-width: 100%;
		margin: 0.262rem 0 1.5rem;
	}

	#timeline-alt{
		margin-bottom: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
